* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.container{
  width: 100%;
  max-width: 1400px;
  margin: 0px auto;
}

/*Inicio TOP-MENU*/
.header {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  background: #E5E8E8 ;
  /* Flex*/
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .menu {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  font-weight: 300;
  /*Flex*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.header .menu .top-menu-left{
  width: 50%;
  margin-left: 20px;
}
.header .menu .top-menu-right{
  width: 50%;
  text-align: right;
  margin-right: 20px;
}
.header .menu a{
  font-size: 18px;
  margin: 10px;
  text-decoration: none;
  color: #000;
}
.header .menu a:hover{
  border-bottom: 2px solid #34495E;
}
.header .menu a .instagram{
  color: #e1306c;
}
.header .menu a .facebook{
  color: #3b5998;
}
.titulo-blog{
  width: 100%;
  /*FLEX*/
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titulo-blog .titulo{
  font-size: 30px;
  font-weight: 400;
  font-style: italic;
  margin-top: 20px;
}
.titulo-blog .subtitulo{
  font-size: 25px;
  font-weight: 300;
}
.menu-principal{
  width: 100%;
  text-align: center;
  margin: 20px 0;
  padding: 10px;
  font-weight: 300;
}
.menu-principal a{
  font-size: 20px;
  margin: 10px;
  text-decoration: none;
  color: #000;
}
.menu-principal a:hover{
  border-bottom: 2px solid #34495E;
}
/*Fin Del TOP-MENU*/


/*Principio del body Article o main*/
/*Sin terminar*/
.main{
  width: 100%;
  /*Flex*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*BANNE*/
.banner{
  width: 100%;
}

/*Div para dividir tu aside*/
/* No esta terminado tenia sueño y estabas dormida para continuar
mañana lo sigo viendo */
.m-article{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.main .banner{
  padding-bottom: 20px;
  border-bottom: 1px solid #f0f0f0;
}
.main .banner .contenedor .banner-principal{
  width:  100%;
}
.main .banner .contenedor .banner-principal  img{
width: 100%;
}
.blog{
  width: 60%;
  padding: 40px 0;
}
.blog .contenedor{
  overflow: hidden;
}
/*Articulos blog*/
.blog .contenedor .articulos-blog{
  float: left;
}
.blog .contenedor .articulos-blog .articulo{
  padding: 60px 0;
  border: 1px solid #f0f0f0;
  margin-bottom: 20px;
}

.blog .contenedor .articulos-blog .articulo .fecha-articulo{
  color: #c7c7c7;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}
.blog .contenedor .articulos-blog .articulo {
  color: #363940;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}
.blog .contenedor .articulos-blog .articulo img{
  width: 100%;
  margin-bottom: 20px;
}
.blog .contenedor .articulos-blog .articulo .texto-articulo {
  padding: 0 20px;
  text-align: justify;
}

.blog .contenedor .articulos-blog .articulo .texto-articulo p{
  margin-bottom: 20px;
  color: #363940;
}
.blog .contenedor .articulos-blog .articulo .blog{
  text-align: center;
}
.blog .contenedor .articulos-blog .articulo .boton a{
  display: inline-block;
  padding: 15px 20px;
  border: 1px solid #bababa;
  font-size:  14px;
  color: #7d7d7d;
}
    .aside{
      width: 38%;
      height: 100%;
      float: right;
      margin-top: 40px;
    }
    .aside .widget .autor-widget .foto-autor img{
      width: 80%;
    }
  .aside .widget{
    background: #fff;
    padding: 40px;
    margin-bottom: 20px;
    border: 1px solid #f0f0f0;
  }
  .aside .widget .autor-widget .foto-autor{
    text-align: center;
    margin-bottom: 10px;
  }
  .aside .widget .autor-widget .foto-autor img{
    width: 120px;
    border-radius: 50%;
  }
  .aside .widget .autor-widget .datos-autor{
    text-align: center;
  }
  .aside .widget .autor-widget .datos-autor .nombre{
    color: #363636;
    font-size: 26px;
    margin-bottom: 10px;
  }
  .aside .widget .autor-widget .datos-autos .profesion{
    color: #9c9c9c;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .aside .widget .autor-widget .datos-autor .info{
    color: #363940;
    font-size: 16px;
    margin-bottom: 10px;
  }
  footer{
    background: #fff;
    padding: 40px;
    padding: 1px solid #f0f0f0;
    text-align: center;
    color: #9c9c9c;
    
  }




